<div class="row">
    <div class="col-sm-12">
        <div class="button_wrapper">
            <button (click)="back()" class="cmnBtn mb-3">Back</button>
        </div>
        <app-card cardTitle="Basic Details" [options]="false">
            <form [formGroup]="engineForm">
                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom01">Name*</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name"
                            formControlName="name" />
                        <p class="error"
                            *ngIf="engineForm.get('name').touched && engineForm.get('name').hasError('required')">Name
                            is required</p>
                    </div>
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom02">Model*</label>
                        <select class="form-control" formControlName="model">
                            @for (item of modelList; track $index) {
                            <option [value]="item._id">{{item.name}}</option>
                            }
                        </select>
                        <p class="error"
                            *ngIf="engineForm.get('model').touched && engineForm.get('model').hasError('required')">Model is
                            required</p>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" (click)="createEngine()">Create Engine</button>
            </form>
        </app-card>
    </div>
</div>