<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Users List" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Booking Id</th>
              <th>Serice Names</th>
              <th>Vehicle Year</th>
              <th>Vehicle Manufacturer</th>
              <th>Vehicle Model</th>
              <th>Vehicle Engine</th>
              <th>Date of Service</th>
              <th>Location</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (bookingItem of bookingList; track $index) {
            <tr>
              <td [matTooltip]="bookingItem._id">{{bookingItem._id | slice:0:6}}...</td>
              <td>
              @for (serviceItem of bookingItem.serviceDetails; track $index) {
                {{serviceItem.name}},
              }
              </td>
              <td>{{bookingItem.vehicleYear}}</td>
              <td>{{bookingItem.vehicleManufacturer}}</td>
              <td>{{bookingItem.vehicleModel}}</td>
              <td>{{bookingItem.vehicleEngine}}</td>
              <td>{{bookingItem.serviceDate | date :'shortDate'}}</td>
              <td [matTooltip]="bookingItem.location">{{bookingItem.location | slice:0:10}}...</td>
              <td>{{bookingItem.totalPrice}}</td>
              <td class="text-right">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <!-- <mat-icon>dialpad</mat-icon> -->
                    <span>Accept</span>
                  </button>
                  <button mat-menu-item>
                    <!-- <mat-icon>voicemail</mat-icon> -->
                    <span>Reject</span>
                  </button>
                  <button mat-menu-item>
                    <!-- <mat-icon>notifications_off</mat-icon> -->
                    <span>Contact</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>