<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Basic Details" [options]="false">
            <form [formGroup]="userForm">
                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First name"
                            formControlName="firstName" />
                    </div>
                    <div class="col-md-6 mb-6">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name"
                            formControlName="lastName" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email"
                            formControlName="email" />
                    </div>
                    <div class="col-md-6 mb-6">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone"
                            formControlName="phone" />
                    </div>                    
                </div>
                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom01">Gender</label>
                        <select class="mb-3 form-control" formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="others">Other</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" (click)="updateProfile()">Save</button>
            </form>
        </app-card>

        <app-card cardTitle="Change Password" [options]="false">
            <form action="javascript:" class="needs-validation" novalidate>
                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom01">New Password</label>
                        <input type="password" class="form-control" id="validationCustom01" placeholder="First name"
                            value="Mark" required />
                    </div>
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom02">Current Password</label>
                        <input type="password" class="form-control" id="validationCustom02" placeholder="Last name"
                            value="Otto" required />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom02">Confirm Password</label>
                        <input type="password" class="form-control" id="validationCustom02" placeholder="Email name"
                            value="example.com" required />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
        </app-card>
    </div>
</div>