<div class="row">
    <div class="col-sm-12">
        <div class="button_wrapper">
            <button (click)="back()">Back</button>
          </div>
        <app-card cardTitle="Basic Details" [options]="false">
            <form [formGroup]="modelForm">
                <div class="row form-group">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom01">Name*</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name"/>
                    </div>               
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom02">Manufacturer*</label>
                            <select class="mb-3 form-control" formControlName="manufacturer">
                                @for (item of manufacturerList; track $index) {
                                    <option [value]="item._id">{{item.name}}</option>
                                }
                              </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" (click)="createModel()">Create Model</button>
            </form>
        </app-card>
    </div>
</div>