/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';

/* fonts-icon */
@import 'scss/fonts/fontawesome/scss/fontawesome';
@import 'scss/fonts/feather/iconfont';

@import 'scss/general';
@import 'scss/generic';
@import 'scss/mixins/function';

/* important element */
@import 'scss/menu/menu-lite';

/* basic elements */
@import 'scss/theme-elements/theme-elements';

/* third party modules style*/
@import 'scss/plugins/plugins';

@import 'scss/custom';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.alert-toast-title {
    font-size: 16px !important;
    line-height: 1.5 !important;
}

.alert-title {
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.alert-icon {
    width: 50px !important;
    height: 50px !important;

    .swal2-icon-content {
        font-size: 35px !important;
    }
}

.cmnBtn {
    background: transparent;
    background-color: #720116;
    border: 1px solid #720116;
    color: #fff;
    border-radius: 50px;
    padding: 6px 20px;
    transition: 0.3s all ease;

    &:hover {
        background-color: transparent;
        color: #720116;
    }
}

.error{
    color: red;
    font-size: 14px;
    padding-top: 5px;
}