<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Users List" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Gender</th>
              <th>Joined At</th>
              <th>Service Booked</th>
            </tr>
          </thead>
          <tbody>
            @for (userItem of userList; track $index) {
            <tr>
              <th scope="row">{{$index+1}}</th>
              <td>{{userItem.firstName}}</td>
              <td>{{userItem.lastName}}</td>
              <td>{{userItem.email}}</td>
              <td>{{userItem.phone}}</td>
              <td class="text- capitalize">{{userItem.gender}}</td>
              <td>{{userItem.createdAt | date :'fullDate'}}</td>
              <td>5</td>
              <td class="text-right">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <span>Make Inactive</span>
                  </button>
                  <button mat-menu-item>
                    <span>Black List</span>
                  </button>
                  <button mat-menu-item>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
            }

          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>