<div class="row">
    <div class="col-xl-12">
      <div class="button_wrapper">
        <button (click)="addManufacturer()">Add Manufacturer</button>
      </div>
      <app-card cardTitle="Services List" [options]="false" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              @for (manufacturerItem of manufacturerList; track $index) {
              <tr>
                <th scope="row">{{$index+1}}</th>
                <td>{{manufacturerItem.name}}</td>
                <td>
                  <span class="badge" [ngClass]="manufacturerItem.status=='active' ? 'bg-success' : 'bg-danger'">{{manufacturerItem.status}}</span>
                </td>
                <td class="text-right">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editManufacturer(manufacturerItem._id)">
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item [disabled]="manufacturerItem.status=='active'" (click)="changeStatus(manufacturerItem.status,manufacturerItem._id)">
                      <span>Make Active</span>
                    </button>
                    <button mat-menu-item [disabled]="manufacturerItem.status=='inactive'" (click)="changeStatus(manufacturerItem.status,manufacturerItem._id)">
                      <span>Make Inactive</span>
                    </button>
                    <button mat-menu-item  (click)="deleteManufacturer(manufacturerItem._id)">
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>